# DB (el backend corre DENTRO del compose, así que host=db y port=3306)
DB_HOST=db
DB_PORT=3306
DB_USER=appuser
DB_PASSWORD=apppass
DB_NAME=reservas_db

# JWT
SECRET_KEY=7uPx8CqR3vZ9yKjL5sE1wQfTbNd
JWT_EXPIRATION=3600